

body{

	background:#CCCCFF;
	color: white;
}
h1{
	font-size: 50px;
	font-family: futura;
}
p{
	font-size: 30px;
	font-family: futura;
}
p1{
	font-size: 12px;
	font-family: futura;
	color:gray;
}
section{
	font-size: 30px;
	font-family: futura;
}
a{
	border: inset;
}
